body {
  font-family: sans-serif;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

span.failed,
a.hasFailed {
  color: coral;
}

span.passed,
a.hasNotFailed {
  color: #008477;
}

#details {
  width: 100%;
}

#details > tbody > tr > td {
  border: 1px dotted grey;
}

#detailsHeader {
  border: none;
}
.requestLogColumn {
  width: 40%;
}
